@import "../mixin";

.wrapperWelcome {
  height: 778px;
  display: flex;
  flex-direction: row;
  background-position: center;
  padding: 0 0 0 112px;
  margin: 0 auto;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.NumberK {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 195px;
  margin: 0 auto;
}

.wrapperAbout {
  max-width: 1440px;
  height: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 195px;
  margin: 0 auto;
}

.wrapperServices {
  max-width: 1199px;
  height: 795px;
  margin: 0 auto;
}

.wrapperAnApproach {
  margin: 0 auto;
  height: auto;
  padding: 0 112px;
}

.wrapperJoinUs {
  padding: 85px 112px;
}

.wrapperPeople {
  height: 795px;
  padding: 85px 112px;
}

.Aplication {
  display: grid;
  place-items: center;
  height: 500px;
  padding: 85px 112px;
}

.listInfo {
  width: 100%;
  max-width: 530px;
  height: 180px;
  border-radius: 15px;
  background: #AE1919;
  padding: 30px;
  display: grid;
  place-items: flex-start;
  position: absolute;
  right: 60px;
  top: -100px;

  @include laptop {
    max-width: 540px;
    height: 160px;
    left: 50%;
    top: -35px;
    transform: translate(-50%, -50%);
  }

  @include tablet {
    display: none;
  }

  @include mobil {
    display: none;
  }
}

.textList {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  column-gap: 10px;
  color: #fff;
}
