@import "../../app/styles/mixin";

.wrapperHeader {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 24px 145px;
  font-size: 24px;
  line-height: 36px;

  @include laptop {
    flex-wrap: wrap;
  }

  @include tablet {
    flex-wrap: wrap;
  }

  @include mobil {
    flex-wrap: wrap;
  }
}

.menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  @include laptop {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.logo {
  height: 30px;
  width: max-content;
}

.btnUs {
  width: 194px;
  height: 66px;
  display: grid;
  place-items: center;
  white-space: nowrap;
  border-radius: 15px;
  padding: 15px 30px;
  color: #fff;
}

.navText {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 44px;
  color: #36384E;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.register {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #000;
}

.login {
  width: 137px;
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  border-radius: 5px;
  background: #8D5CF6;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.20000000298023224px;
  color: #fff;
}
